* {
  margin: auto;
}
.chart-con {
  height: 90vh;
  width: 40%;
  float: left;
  margin-left: 300px;
  background-color: white;
  border-radius: 5px;
  margin-top: 40px;
  box-shadow: 9px 15px 53px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 15px 53px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 15px 53px -15px rgba(0, 0, 0, 0.75);
}
.bar {
  height: 100%;
  width: 100%;
  margin: auto;
}
.doughnut {
  float: right;
  height: 90vh;
  background-color: white;
  border-radius: 5px;
  margin-top: 40px;
  box-shadow: 9px 15px 53px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 15px 53px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 15px 53px -15px rgba(0, 0, 0, 0.75);
  width: 30%;
  margin-right: 40px;
}
.bubble-chart {
  float: left;
  height: 40%;
  width: 80%;
  margin-left: 51px;
  margin-top: 10px;
}
.doughnut-con {
  padding-top: 60px;
}
.polar-area {
  padding-top: 30px;
  margin-bottom: -10;
}
