@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body,
p {
  color: white;
  font-family: "Quicksand";
}
h1 {
  padding: 10px;
  color: orange;
}
.NavBar {
  width: 25%;
  height: 100vh;
  background-color: #2b2b2b;
  float: left;
  align-items: flex-start;
}
.content {
  width: 100vh;
  height: 50px;
  float: left;
  text-align: center;
  margin-left: 100px;
}
ul {
  list-style-type: none;
  margin-top: 100px;

  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
